---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h3>{{ title }}</h3>

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
